.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--cream);
}

.hero .button-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero a.button.primary {
  background-color: var(--green-primary);
  border-color: var(--green-primary);
  color: var(--cream);
}

.hero a.button.primary:hover {
  background-color: var(--green-dark);
  border-color: var(--green-dark);
}

.hero a.button.secondary {
  border-color: var(--cream);
  color: var(--cream);
  background-color: transparent;
}

.hero a.button.secondary:hover {
  background-color: var(--cream);
  color: var(--green-dark);
}

.hero.no-image h1,
.hero.no-image h2,
.hero.no-image h3,
.hero.no-image h4,
.hero.no-image h5,
.hero.no-image h6,
.hero.no-image p {
  color: var(--text-color);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 600px) {
  .hero {
    min-height: 400px;
  }
}

@media (width >= 900px) {
  .hero {
    padding: 60px 32px;
    min-height: 500px;
  }
}
