footer {
  background-color: var(--cream-dark);
  color: var(--green-dark);
  font-size: var(--body-font-size-xs);
  padding: 0 12px 20px;
}

footer .footer > div {
  margin: auto;
  max-width: 1264px;
  padding: 24px 0 0;
}

footer .footer > div > div {
  padding: 16px 0;
  border-top: 1px solid rgb(0 0 0 / 10%);
}

footer .footer > div > div:first-child {
  border-top: none;
}

footer .footer p {
  margin: 0 0 8px;
}

footer .footer a:any-link {
  color: var(--green-dark);
  font-weight: 500;
  text-decoration: none;
}

footer .footer a:hover {
  text-decoration: underline;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 16px;
}

footer .footer ul li {
  margin-bottom: 8px;
}

footer .footer h2,
footer .footer h3,
footer .footer h4 {
  color: var(--green-dark);
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  margin: 0 0 12px;
}

@media (width >= 900px) {
  footer {
    padding: 0 32px 24px;
  }

  footer .footer > div {
    padding: 32px 0 0;
  }

  footer .footer > div > div:first-child {
    display: flex;
    gap: 48px;
  }

  footer .footer > div > div:first-child ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  footer .footer > div > div:first-child ul li {
    margin: 0;
  }
}
