@font-face {
  font-family: 'Subway Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/SubwaySansLCG-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Subway Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/SubwaySansLCG-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Subway Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/SubwaySansLCG-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Subway Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/SubwaySansLCG-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Subway Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/SubwaySansCond-Bold.woff2') format('woff2');
}
